.content__register {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}
.content__register-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 396px;
}
.register__logo-link {
  display: flex;
}
.register__logo {
  width: 38px;
  height: 38px;
  align-self: flex-start;
  padding: 0;
  margin: 0 0 40px 0;
  opacity: 1;
  transition: opacity 0.8s linear;
}

.register__logo:hover {
  opacity: 0.8;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0 0 38px 0;
  padding: 0;
  text-align: left;
  align-self: flex-start;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.register__label {
  font-size: 10px;
  line-height: 1.2;
}

.register__input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-weight: inherit;
  background-color: inherit;
  font-size: 14px;
  line-height: 1.21;
  padding: 8px 0 9px 0;
  margin-bottom: 22px;
  outline: none;
}

.register__input:focus {
  border-bottom: 1px #3456f3 solid;
}

.register__input:invalid {
  color: red;
}

.register__input:last-of-type {
  margin-bottom: 0px;
}
.register__input_type_error {
  color: #ff3055;
}

.register__input-error {
  font-size: 10px;
  line-height: 1.2;
  color: #ff3055;
  margin-top: 6px;
  margin-bottom: 6px;
  opacity: 0;
}

.register__input-error_active {
  opacity: 1;
}

.register__message {
  font-size: 11px;
  line-height: 1.18;
  margin: 0 auto 20px;
  visibility: hidden;
}

.register__message_type_error {
  visibility: visible;
  color: #ff3055;
}
.register__button-reg {
  margin-top: 152px;
  min-height: 45px;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  background: #3456f3;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s linear;
}

.register__button-reg:hover {
  opacity: 0.7;
}

.register__button-reg_disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
  cursor: not-allowed;
}

.register__button-reg_disabled:hover {
  opacity: 1;
}

.register__to-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 0;
}
.register__subtitle {
  padding-right: 6px;
  margin: 0;
  max-width: 285px;
  font-size: 14px;
  line-height: 1.21;
  color: #a0a0a0;
}

.register__link {
  font-size: 14px;
  line-height: 1.21;
  cursor: pointer;
  text-decoration: none;
  color: #3456f3;
  opacity: 1;
  transition: opacity 0.8s linear;
}

.register__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .content__register {
    padding: 232px 0;
  }
}

@media screen and (max-width: 530px) {
  .content__register {
    padding: 56px 0 30px 0;
  }
  .content__register-container {
    width: 260px;
  }
  .register__logo-link {
    align-self: center;
  }
  .register__logo {
    margin: 0 0 50px 0;
  }
  .register__title {
    margin: 0 0 80px 0;
    text-align: center;
    align-self: center;
  }
  .register__button-reg {
    margin-top: 237px;
    font-size: 12px;
    line-height: 1.25;
  }
  .register__subtitle {
    font-size: 12px;
    line-height: 1.25;
  }
  .register__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
