.footer {
  padding: 60px 70px 20px 70px;
}
.footer__page{
margin-top: auto;
}
.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #a0a0a0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 1.23;
  padding-top: 20px;
}
.footer__copyright {
  margin: 0;
}
.footer__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.footer__link-name {
  text-decoration: none;
  color: #000;
  opacity: 1;
  transition: opacity 0.8s linear;
}

.footer__link-name:hover {
  opacity: 0.7;
}

@media screen and (max-width: 898px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    padding: 79px 10px 10px 10px;
    display: flex;
    flex-direction: column;
  }
  .footer__content {
    font-size: 12px;
    line-height: 1.25;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-bottom: 30px;
  }
  .footer__copyright {
    order: 4;
  }
  .footer__title {
    font-size: 12px;
    line-height: 1.25;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 160px 10px 10px 10px;
  }
}